/.env
__pycache__/
**.DS_Store
.DS_Store
**/.DS_Store

data/load/faraday_responses
data/load/faraday_yearly

data/solar/augmented
data/solar/pvwatts_original

data/ev/ev_traces
data/test

dataset/out

model/out
dataset_train.csv
files_processed_train.csv
dataset_test.csv
files_processed_test.csv
runs